.bottom-level {
  @media (min-width: $desktop-width) {
    grid-row: 2/-1;
    grid-column: 1/-1;
  }
}

.bottom-level__inner {
  @media (min-width: $desktop-width) {
    width: 1400px;
    margin: 0 auto;
  }
}
