.button {
  display: block;
  width: 270px;
  padding: 11px 5px;

  text-transform: uppercase;
  text-align: center;
  color: $white;

  background-color: $green;

  &:hover,
  &:focus {
    background-color: $dark-green;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}

.button--form {
  width: 280px;
  padding: 10px 5px;

  font-size: 16px;
  line-height: 20px;

  border: none;
  cursor: pointer;
}

.button--catalog {
  padding: 10px 5px;

  font-size: 16px;
  line-height: 20px;

  border: none;
  cursor: pointer;
}

.button--show {
  background-color: $grey;
  color: $dark-grey;

  &:hover,
  &:focus {
    background-color: $very-light-grey;
  }

  &:active {
    background-color: $very-light-grey;
    color: rgba($dark-grey, 0.3);
  }
}
