.button {
  display: block;
  width: 270px;
  padding: 11px 5px;

  text-transform: uppercase;
  text-align: center;
  color: $white;

  background-color: $green;
}

.button:hover,
.button:focus {
  background-color: $dark-green;
}

.button:active {
  color: rgba($white, 0.3);
}
