.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & svg {
    fill: $dark-grey-svg;
  }

  &:hover svg,
  &:focus svg {
    fill: $green;
  }

  &:active svg {
    fill: rgba($green, 0.3);
  }

  &:active .copyright__text {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 164px;

    justify-content: space-between;
  }
}

.copyright__text {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: $dark-grey;

  &:active {
    color: rgba($dark-grey, 0.3);
  }
}
