.example {
  display: flex;
  flex-direction: column;
  min-width: 320px;

  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-around;

    background-color: $light-grey;
  }
}

.example__wrap {
  width: 280px;
  align-self: center;

  @media (min-width: $tablet-width) {
    width: 710px;
  }
}

.example__title {
  margin: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  font-family: "Arial", sans-serif;
  color: $dark-grey;

  @media (min-width: $desktop-width) {
    width: 435px;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 366px;
  }
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.example__parameter {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.example__cost {
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 130px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 220px;
  }
}

.example__inner {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.example__slider {
  @media (min-width: $tablet-width) {
    background-color: $light-grey;
  }
}

.example__slide:nth-child(2) {
  display: none;
}
