.example {
  position: relative;

  display: flex;
  flex-direction: column;
  min-width: 320px;

  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    background-color: $white;

    &::before {
      content: "";
      position: absolute;
      top: -40px;
      left: 0;
      right: 0;

      height: 1px;

      background-color: $less-light-grey;
    }
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to right, $grey 70%, $light-grey 70%);

    &::before {
      display: none;
    }
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 1225px;
    margin: 0 auto;
  }
}

.example__title {
  margin: 0;
  padding: 27px 0 33px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    padding: 0 0 59px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -130px;
  }
}

.example__text {
  margin: 0;
  padding: 0 0 25px;

  font-family: "Arial", sans-serif;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    width: 700px;
    padding: 0 0 54px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    padding: 70px 0 69px;
  }
}

.example__list {
  margin: 0 0 34px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 366px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 60px;
  }
}

.example__item {
  min-width: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid $medium-grey;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    min-width: 162px;
  }
}

.example__value {
  padding: 15px 0 0;

  font-size: 24px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__parameter {
  position: relative;
  z-index: 1;
  top: 10px;
  width: 80px;
  margin: 0;
  padding: 0 5px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $dark-grey;
  text-align: center;

  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    top: 7px;

    width: auto;
    padding: 0 8px;

    font-size: 14px;
    line-height: 14px;

    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey;
  }
}

.example__cost {
  margin: 0;

  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 180px;

    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (min-width: $tablet-width) {
  .example__amount {
    display: block;
    margin-top: 9px;
  }
}

.example__inner {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.example__slider {
  padding-bottom: 55px;

  @media (min-width: $tablet-width) {
    height: 460px;
    padding-bottom: 0;

    background-color: $light-grey;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to right, $grey 53%, $light-grey 53%);
  }
}

.example__slider-wrap {
  width: 315px;
  height: 240px;

  margin: 0 auto;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 677px;
    height: 520px;
  }
}

.example__slides-inner {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 100%;

  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    top: -180px;
  }
}

.example__slide {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;

  &--before {
    right: 0;
  }

  &--after {
    left: 100%;
  }

  @media (min-width: $tablet-width) {
    &--before {
      right: 47%;
    }

    &--after {
      left: 53%;
    }
  }
}

.example__image {
  position: absolute;
  display: block;
  top: 0;

  width: 315px;
  height: 240px;

  @media (min-width: $tablet-width) {
    width: 677px;
    height: 520px;

    &--before {
      left: 0;
    }

    &--after {
      right: -50px;
    }
  }

  @media (min-width: $desktop-width) {
    &--before {
      left: -8px;
    }

    &--after {
      right: -20px;
    }
  }
}

.example__slide-img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: contain;
}
