.features__title {
  margin: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.features__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: max-content;
    grid-gap: 80px;
  }
}

.features__item {
  width: 247px;
  min-height: 280px;
}

.features__text {
  width: 200px;

  font-family: "Arial", sans-serif;
  color: $dark-grey;
}

