.features-product {
  margin: 0;
  padding: 0 0 22px;

  @media (min-width: $tablet-width) {
    padding: 0 0 26px;
  }
}

.features-product__item {
  display: flex;
  justify-content: space-between;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
    margin-bottom: 7px;

    font-size: 16px;

    border-bottom: 1px solid $medium-grey;
  }
}

.features-product__value {
  margin: 0;
}
