.form__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-gap: 80px;
  }
}

.form__wrapping {
  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

.form__container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 0;
  }
}

.form__fields {
  margin: 0;
  padding: 0;
  border: 0;

  &:first-child {
    margin-bottom: 9px;

    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 50px;
    }
  }

  &:nth-child(2) {
    padding: 30px 0 0;
    margin-bottom: 26px;
    align-self: center;

    border-top: 1px solid $less-grey;
    border-bottom: 1px solid $less-grey;

    @media (min-width: $tablet-width) {
      margin-bottom: 75px;

      border: none;
    }

    @media (min-width: $desktop-width) {
      align-self: start;
      margin-bottom: 50px;
      padding: 0;
    }
  }
}

.form__fieldset {
  position: relative;

  padding: 0;
  margin: 0 0 8px;

  border: 0;

  .container {
    position: relative;
  }

  .container::after {
    content: "";
    position: absolute;
    top: 15px;
    width: 100vw;
    left: 20px;
    height: 2px;
    background-color: $green;

    @media (min-width: $tablet-width) {
      left: 30px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;

    &--additionaly {
      margin-bottom: 26px;
    }

    .container::before {
      content: "";
      position: absolute;
      top: 22px;
      width: 100vw;
      right: 690px;
      height: 2px;
      background-color: $green;
    }

    .container::after {
      top: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;

    &--additionaly {
      margin-bottom: 33px;
    }

    .container::before {
      right: 1280px;
    }
  }
}

.form__block {
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding: 30px 10px 2px 88px;

    border: 1px solid $lighted-grey;
  }
}

.form__inner {
  position: relative;

  display: flex;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    &--right {
      justify-self: end;
      margin-right: 25px;
    }

    &--center {
      justify-self: end;
      margin-right: 64px;
    }

    &--contacts {
      width: 634px;
    }
  }

  @media (min-width: $desktop-width) {
    &--right {
      justify-self: auto;
    }

    &--center {
      justify-self: auto;
      margin-right: 0;
    }

    &--contacts {
      width: auto;
    }
  }
}

.form__wrap-contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 78px;
  }
}

.form__wrap-checkbox {
  padding-left: 46px;
  margin-top: 10px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    width: 530px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 17px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 143px;
    width: auto;
  }
}

.form__label {
  position: relative;
  display: block;
  padding: 0 14px 0 0;

  font-size: 16px;
  text-transform: uppercase;
  color: $dark-grey;

  cursor: pointer;
  user-select: none;

  @media (min-width: $tablet-width) {
    padding-right: 19px;

    font-size: 20px;
    line-height: 30px;
  }

  &--option {
    margin-bottom: 24px;

    color: $darked-grey;

    &::before {
      content: "";
      position: absolute;
      left: -45px;
      top: -6px;

      width: 28px;
      height: 28px;

      border: 1px solid $medium-grey;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        left: -60px;

        width: 38px;
        height: 38px;
      }
    }
  }

  &--checkbox {
    margin-bottom: 25px;

    color: $black;

    &::before {
      content: "";
      position: absolute;
      left: -46px;
      top: -5px;

      width: 28px;
      height: 28px;

      border: 1px solid $medium-grey;

      @media (min-width: $tablet-width) {
        left: -60px;

        width: 38px;
        height: 38px;
      }
    }
  }

  &--contacts {
    padding-right: 10px;

    @media (min-width: $tablet-width) {
      padding-right: 15px;
    }
  }

  &--email {
    @media (min-width: $tablet-width) {
      padding-right: 21px;
    }
  }

  &--left {
    @media (min-width: $tablet-width) {
      padding-left: 13px;

      &::before {
        left: -45px;
      }
    }
  }

  &--left-desktop {
    @media (min-width: $desktop-width) {
      padding-left: 0;

      &::before {
        left: -58px;
      }
    }
  }
}

.form__input-logo {
  position: absolute;
  top: 14px;
  right: 14px;

  fill: none;

  &--email {
    stroke: $darked-grey;
  }

  @media (min-width: $tablet-width) {
    top: 17px;
    right: 18px;
  }

  @media (min-width: $desktop-width) {
    right: 16px;
  }
}

.form__input {
  width: 140px;
  padding: 13px 15px 12px;
  margin: 0 0 14px;
  flex-grow: 1;

  font-size: 16px;
  line-height: 18px;

  border: 1px solid $lighted-grey;

  outline: none;

  &--contacts {
    padding-right: 45px;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 35px 10px 19px;
    margin: 0 0 20px;

    font-size: 20px;
    line-height: 30px;

    &--email {
      padding-left: 20px;
    }
  }

  &::placeholder {
    font-size: 16px;
    text-transform: uppercase;
    color: $dark-grey;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:hover {
    border-color: $medium-grey;
  }

  &:focus {
    border: 2px solid $dark-grey;
  }

  &:focus + .form__input-logo {
    stroke: $green;
  }

  &--comment {
    width: 100%;
    min-height: 150px;
    padding: 10px 10px 13px 13px;

    resize: none;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      min-height: 174px;
      padding-left: 19px;
      padding-bottom: 37px;
    }
  }

  &--error {
    border-color: $red;

    & + .form__input-logo {
      stroke: $red;
    }
  }

  &[type="number"] {
    appearance: textfield;
  }
}

.form__radio {
  &:checked + .form__label--option::after {
    content: "";
    position: absolute;
    top: 2px;
    left: -36px;
    width: 13px;
    height: 13px;
    background-color: $green;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 4px;
      left: -49px;

      width: 18px;
      height: 18px;
    }
  }

  &:hover:not(:disabled) + .form__label--option::before,
  &:focus:not(:disabled) + .form__label--option::before,
  &:checked:hover:not(:disabled) + .form__label--option::before,
  &:checked:focus:not(:disabled) + .form__label--option::before {
    border-color: $gray;
  }

  &:disabled:checked + .form__label--option,
  &:disabled + .form__label--option {
    opacity: 0.3;
  }
}

.form__checkbox {
  &:checked + .form__label--checkbox::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -40px;

    width: 18px;
    height: 14px;

    background: url("../img/icons/check.svg") no-repeat;

    @media (min-width: $tablet-width) {
      top: 8px;
      left: -47px;
    }
  }

  &:checked + .form__label--left::after {
    @media (min-width: $tablet-width) {
      left: -34px;
    }
  }

  &:checked + .form__label--left-desktop::after {
    @media (min-width: $desktop-width) {
      left: -47px;
    }
  }

  &:hover:not(:disabled) + .form__label--checkbox::before,
  &:focus:not(:disabled) + .form__label--checkbox::before,
  &:checked:hover:not(:disabled) + .form__label--checkbox::before,
  &:checked:focus:not(:disabled) + .form__label--checkbox::before {
    border-color: $gray;
  }

  &:disabled:checked + .form__label--checkbox,
  &:disabled + .form__label--checkbox {
    opacity: 0.3;
  }
}

.form__title {
  position: relative;
  z-index: 1;

  width: 201px;
  padding: 0 0 35px;
  margin: 0;

  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  background-color: $white;

  &--comment {
    width: 143px;
    padding-bottom: 39px;
  }

  &--additionaly {
    width: 164px;
    padding: 0 0 27px;
  }

  @media (min-width: $tablet-width) {
    width: 555px;
    padding: 0 0 76px;

    font-size: 36px;
    line-height: 36px;

    &--comment {
      width: 220px;
    }

    &--additionaly {
      width: 253px;
      padding-bottom: 51px;
    }
  }
}

.form__inner-bottom {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    width: 522px;
    margin-bottom: 72px;
    margin-left: 2px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: 80px;
    margin-bottom: 82px;
  }
}

.form__text {
  margin-top: 20px;

  font-family: "Arial", sans-serif;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 17px;

    font-size: 16px;
  }
}
