.item-goods {
  margin-bottom: 17px;
  padding-top: 13px;

  border-top: 1px solid $medium-grey;

  &:last-child {
    padding-bottom: 18px;

    border-bottom: 1px solid $medium-grey;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: center;
    margin-bottom: 0;
    padding-top: 27px;

    &:first-child {
      border-top: 0;
    }

    &:last-child {
      padding-bottom: 0;

      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 15px;

    &:first-child {
      border-top: 1px solid $medium-grey;
    }

    &:last-child {
      border-bottom: 1px solid $medium-grey;
    }
  }
}

.item-goods__inner {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 245px;
    align-items: baseline;
    width: 895px;
  }
}

.item-goods__title {
  margin: 0 0 13px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $darked-grey;

  @media (min-width: $tablet-width) {
    margin: 0 0 25px 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.item-goods__features {
  margin: 0 0 15px 0;
  display: flex;
  justify-content: space-between;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 135px 1fr;
    grid-gap: 49px;
    justify-self: end;
    padding-top: 4px;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 289px;
    justify-self: stretch;

    padding-top: 13px;
  }
}

.item-goods__parameter {
  @media (min-width: $tablet-width) {
    justify-self: end;

    &--indent {
      margin-right: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.item-goods__value {
  margin: 0;

  @media (min-width: $desktop-width) {
    justify-self: end;

    &--indent {
      margin-right: 7px;
    }
  }
}
