.product {
  display: grid;
  grid-template-columns: 140px 142px;
  justify-content: center;
  padding-top: 21px;

  border-top: 1px solid $very-light-grey;

  &--show {
    padding-bottom: 25px;

    border-bottom: 1px solid $very-light-grey;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 39px;
    grid-template-columns: 250px;
    grid-template-rows: 140px 1fr min-content;
    background-color: $grey;

    &--show {
      grid-template-rows: 139px 1fr 40px;

      background-color: $white;
      border: 2px solid $grey;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 168px;
    grid-template-rows: 142px 1fr min-content;

    &--show {
      grid-template-rows: 139px 1fr 40px;
    }
  }
}

.product__inner {
  grid-column: 2/-1;

  &--show {
    grid-column: 1/-1;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

.product__link-img {
  justify-self: center;
  align-self: center;

  transform: translateY(-4px);

  &--alter {
    transform: translateY(5px);
  }

  @media (min-width: $tablet-width) {
    transform: translateY(-70px);

    &--small {
      transform: translateY(-50px);
    }
  }

  @media (min-width: $desktop-width) {
    transform: translateY(-76px);

    &--small {
      transform: translateY(-57px);
    }
  }
}

.product__title {
  width: 80px;
  padding-bottom: 14px;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $darked-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 130px;
    padding-bottom: 19px;
    margin: 0 auto;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 25px;
    padding-left: 5px;

    line-height: 21px;
  }
}

.product__show {
  position: relative;

  margin: 58px 0 9px 0;

  font-size: 16px;
  line-height: 20px;
  color: $almost-black;
  text-transform: uppercase;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: -53px;
    left: 125px;

    width: 30px;
    height: 30px;

    background: url("../img/icons/icon-plus.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    width: 140px;
    padding-bottom: 23px;
    margin: 0 auto;

    font-size: 20px;
    line-height: 22px;

    &::before {
      top: -110px;
      left: 40px;

      width: 60px;
      height: 60px;

      background: url("../img/icons/icon-plus_tablet.svg") no-repeat;
    }
  }
}

.product__text {
  margin: 0 0 20px 0;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin: 0 auto;

    font-size: 16px;
    line-height: 18px;
  }
}

.product__link-img img {
  width: 100%;
  height: 100%;
}
