.programs-item {
  display: flex;
  flex-direction: column;
  margin: 22px 0 0;
  padding: 35px 20px 18px;

  background-color: $grey;

  @media (min-width: $desktop-width) {
    min-width: 570px;
  }
}

.programs-item__title {
  margin: 0;
  padding: 0 0 30px 70px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs-item__text {
  width: 227px;
  margin: 0;
  padding: 0 0 40px;

  font-family: "Arial", sans-serif;
  color: $dark-grey;
}

.programs-item__link {
  margin-top: auto;

  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;

  &:active {
    color: rgba($black, 0.1);
  }
}
