.programs-item {
  display: flex;
  flex-direction: column;
  margin: 22px 0 0;
  padding: 35px 20px 18px;

  background-color: $grey;

  @media (min-width: $tablet-width) {
    padding: 77px 52px 58px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
  }
}

.programs-item__title {
  margin: 0;
  padding: 0 0 30px 70px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0 0 25px;
    font-size: 36px;
    line-height: 36px;
  }
}

.programs-item__text {
  margin: 0;
  padding: 0 0 40px;

  font-family: "Arial", sans-serif;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    width: 380px;
    padding: 0 0 50px;

    font-size: 16px;
    line-height: 24px;

    &--muscular {
      width: 340px;
    }
  }
}

.programs-item__link {
  margin-top: auto;

  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:active {
    color: rgba($black, 0.1);
  }
}
