.programs-list {
  @include reset-list;
  margin: 0 0 27px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin: 0 0 37px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-gap: 80px;
    margin: 0 0 64px;
  }
}
