.promo__wrapper {
  min-height: 302px;
  width: 100%;

  color: $white;
  text-align: center;

  background: url("../img/green-layer.png"), url("../img/background-promo-mobile.jpg") 50% 50% no-repeat;
  background-color: $green;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: auto;
    min-height: 250px;

    background: $white;
  }

  @media (min-width: $tablet-width) {
    min-height: 330px;
  }
}

.promo__title {
  margin: 0;
  padding: 27px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    width: 420px;
    padding: 0 117px 41px;

    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 90px 190px 41px;
  }
}

.promo__slogan {
  margin: 0;

  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 108px;

    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 180px;
  }
}

.promo__img {
  margin-top: -140px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
