.promo {
  @media (min-width: $tablet-width) {
    min-height: 835px;
    background: url("../img/cat-energy-tablet.png") 10% 95% no-repeat;
  }
}

.promo__wrapper {
  min-height: 302px;
  min-width: 320px;

  color: $white;
  text-align: center;

  background: url("../img/green-layer.png"), url("../img/background-promo-mobile.jpg") 50% 50% no-repeat;
  background-color: $green;

  @media (min-width: $tablet-width) {
    min-height: 0;

    background: transparent;
  }

  @media (min-width: $desktop-width) {
    min-height: 330px;
  }
}

.promo__inner {
  @media (min-width: $tablet-width) {
    width: 588px;
  }
}

.promo__title {
  margin: 0;
  padding: 27px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    width: 420px;

    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 90px 190px 41px;
  }
}

.promo__slogan {
  margin: 0;

  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0 0 50px;

    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 180px;
  }
}

.promo__img {
  margin-top: -140px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
