.site-nav {
  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }

  &--closed .site-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 25px;
    height: 25px;

    background: url("../img/icons/burger.svg") no-repeat;
  }

  &--closed .site-nav__list {
    display: none;

    @media (min-width: $tablet-width) {
      display: grid;
    }
  }

  &--opened .site-nav__toggle::before {
    content: "";
    position: absolute;
    top: -2px;
    right: 0;

    width: 25px;
    height: 25px;

    background: url("../img/icons/cross.svg") 50% 10% no-repeat;
  }

  &--nojs .site-nav__toggle {
    display: none;
  }

  &--nojs .site-nav__list {
    display: grid;
  }
}

.site-nav__wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 710px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1222px;
    padding: 0 20px;
  }
}

.site-nav__inner {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 739px;

    &--internal {
      width: 745px;
    }
  }
}

.site-nav__logo {
  width: 190px;
  margin: 11px 0 14px;
  display: flex;
  justify-content: space-between;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin: 24px 0 0;
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: 202px;

    margin: 53px 0 0;
    display: block;
  }
}

.site-nav__logo-text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.site-nav__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    margin: 42px 0 62px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 36px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 2;

    margin: 69px 0 77px 0;
  }
}

.site-nav__toggle {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 25px;
  height: 20px;

  background-color: transparent;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.site-nav__item {
  border-top: 1px solid $less-light-grey;

  &:last-child {
    border-bottom: 1px solid $less-light-grey;
  }

  &--internal:last-child {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    border: none;

    &:last-child {
      border: none;
    }
  }

  &--current {
    position: relative;

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -10px;
        left: 0;
        height: 2px;
        background: $green;
      }
    }
  }

  &--main {
    @media (min-width: $desktop-width) {
      &::after {
        background: $white;
        bottom: -8px;
      }
    }
  }
}

.site-nav__link {
  display: block;
  padding: 22px 10px 23px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  text-align: center;

  &:hover,
  &:focus {
    color: rgba($black, 0.4);
  }

  &:active {
    color: rgba($black, 0.1);
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    &--desktop {
      color: $white;
    }
  }
}
