.site-nav {
  @media (min-width: $desktop-width) {
    grid-column: 2/-1;
  }
}

.site-nav__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    margin: 42px 0 62px 95px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 35px;
  }

  @media (min-width: $desktop-width) {
    margin: 69px 0 42px 95px;
  }
}

.site-nav__link {
  display: block;
  padding: 22px 10px 24px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  text-align: center;

  &:hover,
  &:focus {
    color: rgba($black, 0.4);
  }

  &:active {
    color: rgba($black, 0.1);
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $white;
  }
}

.site-nav__toggle {
  display: none;
}
