.site-main__title {
  margin: 0;
  padding: 0 41px 37px 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.site-main__text {
  width: 230px;
  margin: 0;
  padding: 0 74px 39px 20px;

  text-transform: uppercase;
}
