.site-footer {
  position: relative;

  background-color: $grey;
}

.site-footer__cooperation {
  min-width: 320px;
  background-color: $white;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;

    width: 520px;
  }

  &--inner-page {
    background-color: $grey;
  }
}

.site-footer__wrap {
  display: flex;
  justify-content: space-between;
  padding: 28px 19px;

  @media (min-width: $tablet-width) {
    padding: 66px 72px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 89px 60px 76px;
  }
}

.site-footer__text {
  width: 140px;
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $almost-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
  }
}

.site-footer__address {
  width: 140px;

  font-family: "Arial", sans-serif;
  line-height: 20px;
  font-style: normal;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    width: 160px;

    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.copyright__text {
  margin: 0;

  font-family: "Arial", sans-serif;
  color: $dark-grey;

  &:active {
    color: rgba($dark-grey, 0.3);
  }
}

.site-footer__logo {
  display: block;
  text-align: center;
}

.site-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.site-footer__map {
  min-width: 320px;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
