.site-footer {
  background-color: $grey;
}

.site-footer__cooperation {
  background-color: $white;
}

.site-footer__cooperation--inner-page {
  background-color: $grey;
}

.site-footer__text {
  width: 140px;
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $almost-black;
}

.site-footer__address {
  width: 140px;

  font-family: "Arial", sans-serif;
  line-height: 20px;
  font-style: normal;
  color: $dark-grey;
}

.copyright__text {
  margin: 0;

  font-family: "Arial", sans-serif;
  color: $dark-grey;

  &:active {
    color: rgba($dark-grey, 0.3);
  }
}
