.site-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-nav__link {
  display: block;
  padding: 22px 10px 24px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;

  &:hover,
  &:focus {
    color: rgba($black, 0.4);
  }

  &:active {
    color: rgba($black, 0.1);
  }
}
