.socials {
  @include reset-list;
  margin-bottom: 21px;
  padding: 20px 0 16px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  border-top: 1px solid $less-grey;
  border-bottom: 1px solid $less-grey;

  &--internal {
    padding-bottom: 18px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 47px;
    padding-top: 17px;

    border: none;

    &--internal {
      padding-top: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 19px;
    margin-left: 49px;
  }
}

.socials__item {
  margin: 0 15px;

  &:nth-child(3) {
    margin-right: 18px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;

    margin-right: 16px;

    &:nth-child(3) {
      margin-right: 21px;
    }
  }
}

.socials__link svg {
  fill: $dark-grey-svg;

  @media (min-width: $tablet-width) {
    width: 35px;
    height: 30px;
  }
}

.socials__link--fb svg {
  fill: none;
  stroke: $dark-grey-svg;
}

.socials__link {
  &:hover svg,
  &:focus svg {
    fill: $green;
  }

  &:active svg {
    fill: rgba($green, 0.3);
  }

  &--fb:hover svg,
  &--fb:focus svg {
    fill: none;
    stroke: $green;
  }

  &--fb:active svg {
    fill: none;
    stroke: rgba($green, 0.5);
  }
}
