.top-level {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}

.top-level__right {
  @media (min-width: $desktop-width) {
    min-width: 720px;
    min-height: 694px;

    background: url("../img/green-layer.png"), url("../img/background-promo-desktop.jpg") right no-repeat;
    background-color: darken($green, 30%);
  }
}
