//Colors

$black:  #000000;
$almost-black: #111111;
$white:  #ffffff;
$green:  #68b738;
$dark-green:  #5eaa2f;
$grey: #f2f2f2;
$dark-grey: #444444;
$darked-grey: #222222;
$light-grey: #eaeaea;
$lighted-grey: #e7e7e7;
$less-light-grey: #e6e6e6;
$very-light-grey: #ebebeb;
$medium-grey: #cdcdcd;
$less-grey: #d9d9d9;
$mostly-grey: #dcdcdc;
$gray: #bababa;
$red: #ff8282;

//Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
