$black:  #000000;
$almost-black: #111111;
$white:  #ffffff;
$green:  #68b738;
$dark-green:  #5eaa2f;
$grey: #f2f2f2;
$dark-grey: #444444;
$darked-grey: #222222;
$light-grey: #eaeaea;
$lighted-grey: #e7e7e7;
$very-light-grey: #ebebeb;
